@charset "UTF-8";

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}
nav p {
    display: inline;
    font-size: 1.5em;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

p {
    text-align: center;
}
#iniciar{
    text-align: center;
}


button {
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(55, 11, 97);
    color: white;
    border: 0px;
    font-size: 1em;
}

button:hover {
    background-color: rgb(94, 16, 168);
}

nav p:hover{
    background-color: rgb(77, 77, 77);
}

h1,h2 {
    text-align: center;
    padding: 10px 5px;
    margin: 10px 5px;
}

legend {
    font-size: .7em;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: rgba(190, 190, 190, 0.534);
}
fieldset{
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.448);
    border: none;
    background-color: white;
}


body{
    background-color: rgba(250, 235, 215, 0.303);
    width: 100vw;
    height: 100vh;
}
input{
    margin: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus{
    outline: none;
}


#personagem{
    display:flex;
    justify-content: space-between;

    width: 500px!important;
    margin: auto;
}


#raca-classe{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#p-raca, #p-classe, #p-atributos, #p-historia {
    width: calc(50% - 10px);
}

.atr {
 display:flex;
 justify-content: space-between;
}



.atr label{
    margin-right: 5px;
}


textarea {
    width: calc(100% - 10px)!important;
    height:131px!important;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}


#armas-guerreiro,
#armas-ladrao{
    display: none;
}


