@charset "UTF-8";

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
}
h1,h2 {
    text-align: center;
}
legend {
    font-size: .8rem;
}

body{
 width: 100vw;
 height: 100vh;
}

main{
    display: block;
    width:450px;
    margin: auto;
}



#armas-guerreiro,
#armas-ladrao{
    display: none;
}


